<h1>About tellurium Web Tools</h1>
tellurium Web Tools provide a simple means for the execution of CombineArchives.

The tellurium Web Tools allow to execute CombineArchives with model definition in SBML and simulation definitions
in SED-ML.

For more information about the Simulation Experiment Markup Language see the SED-ML Website.
For more information about the Systems Biology Markup Language see the SBML-Webseite

<h2>Features</h2>
Currently, CombineArchives with model descriptions in <a href="http://sbml.org">SBML</a> and simulation descriptions
in <a href="http://sbml.org">SED-ML</a> are supported.

<h2>Open Issues</h2>
<a href="https://github.com/matthiaskoenig/tellurium-web" target="_blank">github</a>
<ul>
    <li>example archives</li>
    <li>static files (images & logos)</li>
    <li>upload archive functionality</li>
    <li>execute archives</li>
    <li>archive view</li>
    <li>provide upload to Combine Archive Tools of archives</li>
    <li>provide execution with SED-ML webtools for comparison</li>
    <li>github linking of pages</li>
    <li>version information (full list of versions of all libraries)</li>
</ul>


<h2>Contact</h2>
Matthias König konigmatt@googlemail.com
<!--
Please <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ site.page.path }}">help improve this article</a>.
-->

