{% extends "combine/base.html" %}

{% block head %}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-12">
    {% include "combine/archives_content.html" %}
    </div>
</div>
{% endblock %}


{% block javascript %}
    <!-- Datatable -->
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#archives').DataTable({
            "order": [[6, "desc"]],
            "pageLength": 15
        });
    });
    </script>

    <!--
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#archives').bootstrapTable();
        });
    </script>
    -->

    <!-- Websockets, channels & archive actions -->
    <script src="{{ static('combine/js/channels.js') }}"></script>

{% endblock %}
