{% extends "combine/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a href="http://co.mbine.org/documents/archive" alt="COMBINE archive format"
                           target="_blank"><img
                                src="{{ static('combine/images/logos/omex.png') }}" height="40"></a> {{ archive }}
                    </h2>
                </div>

                <div class="panel-body">
                    {% if entries %}
                        <table id="entries" class="table table-striped table-condensed table-hover">
                            <thead>
                            <tr>
                                <th>Entry</th>
                                <th>Location</th>
                                <th>Format</th>
                                <th>MetaData</th>
                            </tr>
                            </thead>
                            {% for entry in entries %}
                                <tr>
                                    <td><span class="badge">{{ loop.index }}</span></td>
                                    <td>{{ entry.getLocation() }}</td>
                                    <td><code>{{ entry.getFormat() }}</code></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>No entries in archive.</p>
                    {% endif %}
                </div>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Task: {{ task }}
                    </h2>
                </div>
                <div class="panel-body">

                    <b>task_id:</b> {{ archive.task_id }}<br/>
                    <b>status</b>:
                    {% if task %}
                        </b> {{ task.status }}<br/>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if task and task.status == 'SUCCESS' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Results: {{ task }}
                    </h2>
                </div>
                <div class="panel-body">
                    <a href="{{ url('combine:results', args=[archive.id]) }} }}"><i class="fa fa-line-chart fa-fw fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    {%  endif %}



{% endblock %}

{% block javascript %}{% endblock %}


