{% import 'combine/macros.html' as macros %}

<div class="panel panel-default">
    <div class="panel-heading">

        <h2 class="panel-title">{{ macros.archive_download(archive) }}&nbsp;&nbsp;&nbsp;{{ macros.archive_html(archive) }}

            <span class="pull-right">
                <!-- delete archive -->
                {% if request.user.is_authenticated %}
                            {{ macros.archive_delete(archive) }}
                {% endif %}
            </span>
        </h2>
    </div>

    <div class="panel-body">
        <!-- Archive tree -->
        <div class="row">
            <div class="col-xs-6">
                <div class="well">
                    <div id="json_tree"></div>
                </div>
            </div>

            <div class="col-xs-6">
                <!-- Entry detail -->
                <div id="entry_detail">
                    <form id="form_detail" method="post">
                        <div id="button-div"></div>
                        <div id="manifest_detail"></div>
                        <div id="item_detail"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
