    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"> <a href="{{ url('combine:archive', args=[archive.id]) }}"><i class="fa fa-archive fa-fw"></i> {{ archive }}</a>
                    (<a href="{{ archive.file.url }}" title="Download archive"><i class="fa fa-download fa-fw"></i></a>)
                    </h2>
                </div>

                <div class="panel-body">
                    {% if entries %}
                        <table id="entries" class="table table-striped table-condensed table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>format</th>
                                <th>location</th>
                                <th>description</th>
                                <th>metadata</th>
                            </tr>
                            </thead>
                            {% for entry in entries %}
                                <tr>
                                    <td><span class="badge">{{ loop.index }}</span></td>
                                    <td>{% if entry.master %}
                                        <i class="fa fa-star fa-fw" title="master"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if entry.short_format in ['cellml', 'sed-ml', 'sbml', 'sbgn', 'omex-manifest'] %}
                                        <img height=30 title="{{ entry.format }}" src="{{ static('combine/images/mediatype/')}}{{ entry.short_format }}.png">
                                        {% else %}
                                        <code title="{{ entry.format }}">{{ entry.short_format }}</code>
                                        {% endif %}
                                    </td>
                                    <td>{{ entry.location }}</td>

                                    <td>
                                        {% if entry.metadata %}
                                            {%  with md = entry.metadata %}
                                                {{ md.description }}
                                            {%  endwith %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if entry.metadata %}
                                            {%  with md = entry.metadata %}
                                                {{ md.description }}
                                            <code>{{ md }}</code>
                                            {%  endwith %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>No entries in archive.</p>
                    {% endif %}
                </div>
            </div>
          </div>
    </div>