<!-- Archive javascript -->
<script src="{{ static('combine/libraries/js/jstree-3.3.5.min.js') }}"></script>
<script src="{{ static('combine/libraries/js/jquery.serialize-object.min.js') }}"></script>

<!-- Navigation tree & archive detail -->
<script src="{{ static('combine/js/archive-detail.js') }}"></script>
<script>
    const url_mediatype = '{{ static("combine/images/mediatype/")| safe }}';
    var empty_creator = "{{ Creator.html_empty()| safe }}";
    var super_user = '{{request.user.is_superuser}}';
</script>
<script src="{{ static('combine/js/archivetree.js') }}"></script>

<!-- Websockets, channels & archive actions -->
<script src="{{ static('combine/js/channels.js') }}"></script>