{% import 'combine/macros.html' as macros %}

<div class="panel panel-default">
   <!-- navigate archives -->
    <a href="{{ url('combine:archive_previous', args=[archive.id]) }}"
       title="Previous archive"><span class="btn-xs btn-primary"><i
            class="fa fa-arrow-circle-o-left fa-fw"></i></span></a>
    <a href="{{ url('combine:archive_next', args=[archive.id]) }}"
       title="Next archive"><span class="btn-xs btn-primary"><i
            class="fa fa-arrow-circle-o-right fa-fw"></i></span></a>
    <div class="panel-heading">

        <h2 class="panel-title">
            <a href="{{ url('combine:archive', args=[archive.id]) }}">
                {{ macros.archive_html(archive) }}
            <a href="{{ url('combine:download_archive', args=[archive.id]) }}" title="Download archive"><i
                    class="fa fa-download fa-fw"></i></a>

            <span class="pull-right">
                <!-- delete archive -->
                {% if request.user.is_authenticated %}
                <a href="{{ url('combine:delete_archive', args=[archive.id]) }}" title="Delete archive {{ archive.id }}: {{ archive.name }}"><span class="btn-xs btn-danger"
                                                                                                              onclick="return confirm('Are you sure you want to delete: {{ archive }}?')">
                    <i class="fa fa-trash fa-fw"></i></span></a>
                {% endif %}
            </span>
        </h2>
    </div>
    <div class="panel-body">
        {% if archive.has_entries() %}
            <table id="entries" class="table table-striped table-condensed table-hover">
                <thead>
                <tr>
                    <th class="hidden hidden-xs"></th>
                    <th>master</th>
                    <th>icon</th>
                    <th>format</th>
                    <th>location</th>
                    <th class="hidden">name</th>

                </tr>
                </thead>
                {% for entry in archive.entries.all()  %}
                    <tr id="archive_content">
                        <td class="hidden hidden-xs"><span class="badge">{{ loop.index }}</span></td>
                        <td>{% if entry.master %}
                            <i class="fa fa-star fa-fw" title="master"></i>
                        {% endif %}
                        </td>
                        <td>
                            {% if entry.base_format in ['cellml', 'sed-ml', 'sbml', 'numl', 'csv', 'sbgn', 'omex', 'omex-manifest', 'omex-metadata'] %}
                                <img height=20 title="{{ entry.format }}"
                                     src="{{ static('combine/images/mediatype/')}}{{ entry.base_format }}.png">
                            {% endif %}
                        </td>
                        <td>
                            <code title="{{ entry.format }}">{{ entry.short_format }}</code>
                        </td>
                        <td class="location">
                            {% if entry.location in ['.', './manifest.xml'] %}
                                {{ entry.location}}
                            {% else %}
                                <a href="{{ url('combine:archive_entry', args=[archive.id, loop.index0]) }}"
                                   target="_blank">{{ entry.location }}</a>
                            {% endif %}
                        </td>
                        <td class="hidden" id="name"> {{entry.name}}</td>

                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No entries in archive metadata.</p>
        {% endif %}

        <span class="label label-primary" title="ZIP Content">zip content</span>
        <div class="row">
            <!-- The zip tree -->
            <div class="col-sm-6"id="json_tree">
            </div>
            <!-- the entry detail -->
            <div class="col-sm-6" id="entry_detail">
                <form id="form_detail" method="post">
                    <div id="button-div"></div>
                    <h3 id="title_entry"></h3>
                    <div id="item_detail"></div>

                </form>



            </div>

        </div>



        <script>

            var endpoint = './zip_tree';
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                $('#json_tree').jstree({
                    'core': {
                        'multiple': false,
                        'data': data
                    }
                });
            },
            error: function (error_data) {
                console.log("error");
                console.log(error_data);

            }
        })
        </script>

        <script>

            $('#json_tree')
              // listen for event in json tree
              .on('changed.jstree', function (e, data) {
                  // get selected node
                   selected = $('#json_tree').jstree(true).get_selected(true);
                   var entry_pk = selected[0].original.pk;
                   display_entry_detail(entry_pk);
                });

            $("tr#archive_content").click(function(e){     //function_td
                var $row = $(this).closest("tr");    // Find the row
                var location = $row.find(".location").text(); // Find the text

                //display_entry_detail(pk);
                //selected = $('#json_tree').jstree('select_node',location);
                //var instance = $('#json_tree').jstree(true);

                })


                //console.log(instance.select_node(get_name(location)));


        </script>

        <script>
            function display_entry_detail(entry_pk, edit=false){



                var endpoint_path = "/api/archive-entries/" + entry_pk+"/";
                var endpoint = window.location.origin+endpoint_path;
                $.ajax({
                    url: endpoint,
                    type:'Get',
                    success: function (data) {
                         add_button("edit");
                         entry_title(data,edit);


                         if(data.metadata !== 'undefined'){
                            $("#item_detail").empty();
                            var meta = data.metadata;
                            add_description(meta,edit);
                            for (var creator in meta.creators){
                                addContact(meta.creators,creator,edit);
                            }
                        }
                    },
                    error: function (error_data) {
                        console.log("error");
                        console.log(error_data);
                    }
                })
            }
        </script>

        <script>
            $(document).on('click','#editButton',function(){
                selected = $('#json_tree').jstree(true).get_selected(true);
                var entry_pk = selected[0].original.pk;
                display_entry_detail(entry_pk, edit=true);
                hidden_input_archive_entry_pk(entry_pk);

            });
        </script>

        <script>
            function entry_title(data){



                title_entry = document.getElementById("title_entry");

                title_entry.innerHTML = get_title(data.location);

                if (data.master){
                    title_entry.appendChild(get_master_icon(data.master));
                }
                format_list = ['cellml', 'sed-ml', 'sbml', 'numl', 'csv', 'sbgn', 'omex', 'omex-manifest', 'omex-metadata'];
                if (typeof base_format(data.format) !== 'undefined' && format_list.indexOf(base_format(data.format))>=0){
                     title_entry.insertBefore(get_format_icon(data),title_entry.childNodes[0]);
                }
            }

            function hidden_input_archive_entry_pk(pk){
                 var archiveInput=document.createElement("input");
                     archiveInput.setAttribute("value",pk);
                     archiveInput.setAttribute("type", "hidden");
                     archiveInput.setAttribute("name", "id");
                 var form = document.getElementById("form_detail");
                 form.appendChild(archiveInput);
            }

            function get_title(location){
                var splited_fn= location.split("/");
                return " "+splited_fn[splited_fn.length-1];

            }

            function get_master_icon(master){
                master_icon = document.createElement("i");
                master_icon.setAttribute("class","fa fa-star fa-fw");
                master_icon.setAttribute("title","master");
                return master_icon
            }

            function get_format_icon(data){
                var src="{{static('combine/images/mediatype/')}}"+base_format(data.format)+".png";
                format_icon = document.createElement("img");
                format_icon.setAttribute("src", src);
                format_icon.setAttribute("height",20);
                format_icon.setAttribute("title",data.format);
                return format_icon
            }

             function base_format(format){
                var tokens = format.split('/').pop();
                var short = tokens.split('.')[0];
                 return short.replace("+xml",'')
             }

             function get_name(location){
                 splitted = location.split("/");
                 name = splitted.slice(1,splitted.length).join("/");
                 console.log(name)

             }


        </script>

        <script>
            function add_button(name){
                 var myButton = document.createElement("span");
                 var icon = document.createElement("i");
                 myButton.className="btn btn-default btn-space";
                 var edit = false;
                 if(name=="add"){
                     icon.className="fa fa-plus fa-fw";
                     icon.title="create new rdf entry";

                 }
                 else if(name=="delete"){
                     icon.className="fa fa-minus fa-fw";
                     icon.title="create new rdf entry";
                 }
                 else if(name="edit"){
                     myButton.setAttribute("id","editButton");
                     //myButton.setAttribute("onclick","diplay_edit_detail()");

                     icon.className="fa fa-pencil fa-fw";
                     icon.title="create new rdf entry";

                     }
                 myButton.appendChild(icon);
                 myButton.append(name);
                 var placeHolder= document.getElementById('button-div');
                 $('#button-div').empty();

                 placeHolder.appendChild(myButton);

                }

                function addContact(creators,creator,edit){
                 if (edit==true){

                     var idInuput=document.createElement("input");
                     idInuput.setAttribute("value",creators[creator]["id"]);
                     idInuput.setAttribute("type", "hidden");
                     idInuput.setAttribute("name", "creators["+creator+"][id]");
                     document.getElementById("item_detail").appendChild(idInuput);





                     var givenNameInput=document.createElement("input");
                     givenNameInput.setAttribute("value",creators[creator]["first_name"]);
                     givenNameInput.setAttribute("placeholder", "First Name");
                     givenNameInput.setAttribute("name", "creators["+creator+"][first_name]");



                     var givenName = givenNameInput.outerHTML;

                     var familyNameInput=document.createElement("input");
                     familyNameInput.setAttribute("value",creators[creator]["last_name"]);
                     familyNameInput.setAttribute("placeholder","Family Name");
                     familyNameInput.setAttribute("name", "creators["+creator+"][last_name]");

                     var familyName = familyNameInput.outerHTML;

                     var organisationInput=document.createElement("input");
                     organisationInput.setAttribute("value",creators[creator]["organisation"]);
                     organisationInput.setAttribute("placeholder","Organisation");
                     organisationInput.setAttribute("name", "creators["+creator+"][organisation]");

                     var organisation = organisationInput.outerHTML;

                     var emailInput=document.createElement("input");
                     emailInput.setAttribute("value",creators[creator]["email"]);
                     emailInput.setAttribute("placeholder","Email");
                     emailInput.setAttribute("name", "creators["+creator+"][email]");


                     var email = emailInput.outerHTML;
                 }
                 else{
                     var givenName = creators[creator]["first_name"];
                     var familyName = creators[creator]["last_name"];
                     var organisation = creators[creator]["organisation"];
                     var email=creators[creator]["email"];
                 }

                 var contact_content = '<dl><dt>'+givenName+' '+familyName+'</dt><dd>'+organisation+"</dd><dd>"+email+"</dd></dl>";
                 $("#item_detail").append(contact_content);


             }

             function add_description (metadata,edit){
                 if (edit==true){
                     var form = document.getElementById("form_detail");

                     var textArea = document.createElement("textarea");
                     textArea.cols="50";
                     textArea.rows="5";
                     textArea.setAttribute("name","description");
                     textArea.append(metadata["description"]);
                     description =textArea.outerHTML;
                     $("#button-div").append('<input class="btn btn-default" type="submit" value="Save">')

                     // hidden Input for created and modified
                     var createdInput=document.createElement("input");
                     createdInput.setAttribute("value",metadata["created"]);
                     createdInput.setAttribute("type", "hidden");
                     createdInput.setAttribute("name", "created");
                     form.appendChild(createdInput);

                 }
                 else {
                     var description = metadata["description"];
                 }
                 $("#item_detail").append('<dl><dt>' + "Description" + '</dt><dd>' + description + '</dd></dl>');
                 $("#item_detail").append('<dl><dt>' + "Created"+ '</dt><dd>' + metadata["created"] + '</dd></dl>');
                 $("#item_detail").append('<dl><dt>' +"Modified"+'</dt>'+modified_content(metadata["modified"])+'</dl>');
             }

             function modified_content( modified){
                  content="";
                  console.log(modified);
                   for(var i in  modified){
                     content+='<dd>' + modified[i]["date"]+ '</dd>'
                 }
                 return content
             }
        </script>

        <script>
            var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>

        <script>
            var frm = $('#form_detail');
            frm.submit(function () {
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: {"data": frm.serializeJSON()},
                    success: function (data) {
                        console.log("success"); // another sanity check


                    },
                    error: function(data) {
                        $("#item_detail").html("Something went wrong!");
                    }
                });
                return false;
            });
        </script>


    </div>
</div>
