{% import 'combine/macros.html' as macros %}
    <!-- <h2><i class="fa fa-archive fa-fw"></i> COMBINE Archives</h2>-->
    {% if archives %}
        <table id="archives"
               class="table table-striped table-condensed table-hover"
               data-toggle="table"
               data-search="true"
               data-pagination="true"
               data-page-size="15">
            <thead>
            <tr>
                <th></th>
                <th data-sortable="true">name</th>
                <th data-sortable="true">action</th>
                <th data-sortable="true">status</th>
                <th data-sortable="true">results</th>
                <th data-sortable="true">description</th>
                <th class="hidden-xs" data-sortable="true">user</th>
                <th class="hidden-xs" data-sortable="true">model</th>
                <th class="hidden-xs" data-sortable="true">sedml</th>
                <th class="hidden-xs" data-sortable="true">tags</th>
                {% if request.user.is_authenticated %}
                <th><button id="btn-run-all" class="btn-xs btn-success" title="Run all archives"><i class="fas fa-fast-forward fa-fw"></i></button></th>
                {% endif %}
            </tr>
            </thead>
            {% for archive in archives %}
                <tr>
                    <td>{{ macros.archive_download(archive) }}</td>
                    <td>{{ macros.archive_html(archive) }}</td>
                    <td><span id="task-status-{{ archive.id }}"></span> {{ macros.archive_action(archive) }}</td>
                    <td>{{ macros.archive_status(archive) }}</td>
                    <td>{{ macros.archive_results(archive) }}</td>
                    <td>{{ archive.description }}</td>
                    <td class="hidden-xs">{{ macros.user(archive.user) }}</td>
                    <td class="hidden-xs">{% if archive.has_sbml() %}
                        <img src="{{ static('combine/images/mediatype/sbml.png') }}" height="16"/>
                        {% endif %}
                        {% if archive.has_cellml() %}
                        <img src="{{ static('combine/images/mediatype/cellml.png') }}" height="16"/>
                        {% endif %}
                    </td>
                    <td class="hidden-xs">{% if archive.has_sedml() %}
                        <img src="{{ static('combine/images/mediatype/sed-ml.png') }}" height="16"/>
                        {% endif %}
                    </td>
                    <td class="hidden-xs">
                        {% for tag in archive.tags.all() %}
                            {{ macros.tag_html(tag) }}
                        {% endfor %}
                    </td>
                    {% if request.user.is_authenticated %}
                    <td>{{ macros.archive_delete(archive) }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No archives available.</p>
    {% endif %}


