{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tellurium Web Tools{% endblock %}</title>
    <meta name="description" content="Tellurium Web Tools">
    <meta name="author" content="Matthias Koenig">
    <link rel="shortcut icon" href="{% static 'combine/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'combine/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'combine/font-awesome-4.6.3/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'combine/css/combine.css' %}"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'combine:index' %}"><img src="{% static 'combine/images/logos/te.png' %}" height="25"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'combine:index' %}">Tellurium Web Tools</a></li>
                <li><a href="{% url 'combine:about' %}">About</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                <li><a href="https://github.com/matthiaskoenig/tellurium-web" title="Source code on github" target="_blank"><span class="fa fa-github fa-fw white"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="content" class="container">
<div class="starter-template">
    {% block content %}{% endblock %}
</div>
</div>

<div id="footer" class="container">
    <hr/>
    <a href="http://co.mbine.org/" alt="COMBINE" target="_blank"><img
            src="{% static 'combine/images/logos/combine.png' %}" height="25"></a>&nbsp;&nbsp;
    <a href="http://co.mbine.org/documents/archive" alt="COMBINE archive format" target="_blank"><img
            src="{% static 'combine/images/logos/omex.png' %}" height="25"></a>&nbsp;&nbsp;
    <a href="http://sbml.org" alt="SBML" target="_blank"><img src="{% static 'combine/images/logos/sbml.png' %}"
                                                              height="25"></a>&nbsp;&nbsp;
    <a href="http://sed-ml.org" alt="SED-ML" target="_blank"><img src="{% static 'combine/images/logos/sedml.png' %}"
                                                                  height="25"></a>&nbsp;&nbsp;
    <a href="http://libroadrunner.org/" alt="libroadrunner" target="_blank"><img
            src="{% static 'combine/images/logos/libroadrunner.jpg' %}" height="25"></a>&nbsp;&nbsp;
    <a href="http://tellurium.analogmachine.org/" alt="Tellurium" target="_blank"><img
            src="{% static 'combine/images/logos/te.png' %}" height="25"></a>&nbsp;&nbsp;
    <a href="http://antimony.sourceforge.net//" alt="Antimony" target="_blank"><img
            src="{% static 'combine/images/logos/antimony.png' %}" height="25"></a>&nbsp;&nbsp;
</div>

    <script src="{% static 'combine/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'combine/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'combine/js/plotly-1.18.1.min.js' %}"></script>
    <script src="{% static 'combine/js/combine.js' %}"></script>
    {% block javascript %}{% endblock %}

</body>
</html>


