{% extends "combine/base_generic.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
    <h2>Upload Combine Archive</h2>
    <form action="{{ url('combine:upload') }}" method="post"
          enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <p>{{ form.non_field_errors() }}</p>
        <p>{{ form.file.label_tag() }} {{ form.file.help_text }}</p>
        <p>
            {{ form.file.errors }}
            {{ form.file }} <input type="submit" value="Upload"/>
        </p>
    </form>

    <h2>Archives</h2>
    {% if archives %}
        <table id="archives" class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>Archive</th>
                <th>Name</th>
                <th>Created</th>
                <th>Run</th>
                <th>Results</th>
            </tr>
            </thead>
            {% for archive in archives %}
                <tr>
                    <td><a href="{{ url('combine:archive', args=[archive.id]) }}"><i class="fa fa-archive fa-lg black"></i><span class="math">{{archive.id}}</span></class></a>
                    </td>
                    <td><a href="{{ url('combine:archive', args=[archive.id]) }}">{{ archive.name }}</a></td>
                    <td>{{ archive.created }}</td>
                    <td><a href="{{ url('combine:archive', args=[archive.id]) }}"><i
                            class="fa fa-play-circle fa-lg black"></i></a></td>
                    <td><a href="{{ url('combine:archive', args=[archive.id]) }}"><i
                            class="fa fa-ban fa-lg grey"></i></a></td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <p>No archives available. Upload archive below.</p>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#archives').DataTable();
        });
    </script>
{% endblock %}
