{% extends "combine/base.html" %}

{% block content %}
<!-- COMBINE archives -->
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-archive"></i> Combine Archives</h2>
            </div>

            <div class="panel-body">
                {% if archives %}
                <table id="archives" class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Archive</th>
                        <th>Name</th>
                        <th>Run</th>
                        <th>Results</th>
                        <th class="hidden-xs">Created</th>
                        <th class="hidden-xs">MD5</th>

                    </tr>
                    </thead>
                    {% for archive in archives %}
                    <tr>
                        <td><a href="{{ url('combine:archive', args=[archive.id]) }}"><span
                                class="badge">{{archive.id}}</span></a>
                        </td>
                        <td><b><a href="{{ url('combine:archive', args=[archive.id]) }}">{{ archive.name }}</a></b></td>
                        <td><a href="{{ url('combine:archive', args=[archive.id]) }}"><i
                                class="fa fa-play-circle fa-lg green"></i></a></td>
                        <td><a href="{{ url('combine:archive', args=[archive.id]) }}"><i
                                class="fa fa-ban fa-lg grey"></i></a></td>
                        <td class="hidden-xs">{{ archive.created }}</td>
                        <td class="hidden-xs">{{ archive.md5 }}</td>
                    </tr>
                    {% endfor %}

                </table>
                {% else %}
                <p>No archives available. Upload archive below.</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<!-- Archive upload -->
<div class="row">
    <div class="col-lg-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-upload"></i> Upload Archive</h2>
            </div>

            <div class="panel-body">
                <form action="{{ url('combine:upload') }}" method="post"
                      enctype="multipart/form-data">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <p>{{ form.non_field_errors() }}</p>
                    <p>{{ form.file.label_tag() }} {{ form.file.help_text }}</p>
                    <p>
                        {{ form.file.errors }}
                        {{ form.file }} <input class="btn btn-primary" type="submit" value="Upload"/>
                    </p>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#archives').DataTable();
    });
</script>
{% endblock %}
