<!--
Definition of reusable macro function in templates
-->

<!-- Tags -->
{% macro tag_html(tag) %}
<a href="{{ url('combine:tag', args=[tag.id]) }}"><span class="btn btn-default btn-xs"><i class="fa fa-fw fa-tag"></i> {{ tag.category }}:<b>{{ tag.name }}</b></span></a>
{% endmacro %}


<!-- Archives -->
{% macro archive_html(archive) %}
<a href="{{ url('combine:archive', args=[archive.id]) }}"><span class="btn btn-primary btn-xs"><i class="fa fa-fw fa-archive"></i> {{ archive.name }}</span></a>
{% endmacro %}


<!-- User -->
{% macro user(user) %}
{% if user %}
<i class="fa fa-fw fa-user"></i> {{ user.first_name }} {{ user.last_name }}<br />
{% else %}
<i class="fa fa-fw fa-ban"></i>
{% endif %}
{% endmacro %}

<!-- Status -->
{% macro status(status) %}
{% if status == "finished" %}
<i class="fa fa-fw fa-check-square-o text-success" title="{{ status }}"></i>
{% elif status == "in progress" %}
    <i class="fa fa-fw fa-cog" title="{{ status }}"></i>
{% endif %}
{{ status }}</td>
{% endmacro %}
