<!--
Definition of reusable macro function in templates
-->

<!-- Tags -->
{% macro tag_html(tag) %}
<a href="{{ url('combine:tag', args=[tag.id]) }}"><span class="btn btn-default btn-xs"><i class="fas fa-fw fa-tag"></i> {{ tag.category }}:<b>{{ tag.name }}</b></span></a>
{% endmacro %}


<!-- Archives -->
{% macro archive_html(archive) %}
    <a href="{{ url('combine:archive', args=[archive.id]) }}"><span class="btn btn-xs btn-primary"><i class="fas fa-archive fa-fw"></i> {{ archive.name }}</span></a>
{% endmacro %}

{% macro archive_download(archive) %}
<a href="{{ url('combine:download_archive', args=[archive.id]) }}" title="Download: '{{ archive.name }}.omex'">
                <span class="btn-xs btn-default"><i class="fas fa-download fa-fw"></i></span></a>
{% endmacro %}

{% macro archive_delete(archive) %}
    <a href="{{ url('combine:delete_archive', args=[archive.id]) }}" title="Delete archive {{ archive.id }}: {{ archive.name }}"><span class="btn-xs btn-danger"
                                                                              onclick="return confirm('Are you sure you want to delete: {{ archive }}?')">
    <i class="fas fa-trash fa-fw"></i></span></a>
{% endmacro %}


<!-- Tasks -->
{% macro task_status(task) %}
    {% if task.status == "SUCCESS" %}
        <span class="label label-success"><i
                class="fas fa-check-square fa-fw"></i> {{ task.status }}</span>
    {% elif task.status == "FAILURE" %}
        <span class="label label-danger"><i
                class="fas fa-minus-square fa-fw"></i> {{ task.status }}</span>
    {% else %}
        <span class="label label-info"
              title="{{ task }}">{{ task.status }}</span>
    {% endif %}
{% endmacro %}

{%  macro archive_status(archive) %}
{% if archive.task_id %}
    {{ task_status(archive.task) }}
{% else %}
    <i class="fas fa-ban fa-fw fa-lg grey"></i>
{% endif %}
{% endmacro %}



{% macro archive_results(archive) %}
{% if archive.task_id %}
    {% with task = archive.task %}
        {% if task.status == "SUCCESS" %}
            <a href="{{ url('combine:results', args=[archive.id])}}">
                <i class="fas fa-chart-line fa-fw fa-lg"></i>
            </a>
        {% else %}
            <i class="fas fa-ban fa-fw fa-lg grey"></i>
        {% endif %}
    {% endwith %}
{% else %}
    <i class="fas fa-ban fa-fw fa-lg grey"></i>
{% endif %}
{% endmacro %}


{%  macro archive_action(archive) %}
    <span class="archive-action" archive="{{ archive.id }}">
{% if archive.task_id %}

    {% with task = archive.task %}
        <!--<a href="{{ url('combine:run_archive', args=[archive.id]) }}">-->
            {% if task %}
                {% if task.status == 'SUCCESS' %}
                    <span id="action_{{ archive.id }}" class="btn-xs btn-warning">
                    <i class="fas fa-sync-alt fa-fw" title="RERUN"></i> RERUN
                {% elif task.status == 'FAILURE' %}
                    <span id="action_{{ archive.id }}" class="btn-xs btn-danger">
                    <i id="action_{{ archive.id }}" class="fas fa-sync-alt fa-fw" title="RETRY"></i> RETRY
                {% else %}
                    <span id="action_{{ archive.id }}" class="btn-xs btn-info">
                    <i class="fas fa-cog fa-spin fa-fw" title="EXECUTING"></i> EXECUTING
                {% endif %}
            {% endif %}
            </span>
        <!--</a>-->
    {% endwith %}
{% else %}
    {% if archive.has_sedml() %}
    <!--<a href="{{ url('combine:run_archive', args=[archive.id]) }}">-->
    <span id="action_{{ archive.id }}" class="btn-xs btn-success btn-xs">
    <i class="fas fa-play-circle fa-fw" title="RUN"></i> RUN</span></a>
    <!--</a>-->
    {% endif %}

{% endif %}
    </span>
{% endmacro %}

<!-- User -->
{% macro user(user) %}
{% if user %}
<i class="fas fa-fw fa-user"></i> {{ user }}
{% else %}
<i class="fas fa-fw fa-ban"></i>
{% endif %}
{% endmacro %}

<!-- Status -->
{% macro status(status) %}
{% if status == "finished" %}
<i class="fas fa-fw fa-check-square-o text-success" title="{{ status }}"></i>
{% elif status == "in progress" %}
    <i class="fas fa-fw fa-cog" title="{{ status }}"></i>
{% endif %}
{{ status }}</td>
{% endmacro %}
