
<!-- WEBSOCKETS -->

<script>
    $(function() {
   // When we're using HTTPS, use WSS too.
   var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
   var ws_path = ws_scheme + '://' + window.location.host + '/dashboard/';
   console.log("Connecting to " + ws_path)
   var socket = new ReconnectingWebSocket(ws_path);
   socket.onmessage = function(message) {
       console.log("Got message: " + message.data);
       var data = JSON.parse(message.data);
       archive_id = data.archive_id
       // if action is started
       if (data.action == "started") {

       }
       // if action completed
       else if (data.action == "completed"){
           var item = $('#item-status-' + data.job_id + ' span');
           item.attr("class", "label label-success");
           item.text(data.job_status);

           // update icon
           var content = '<i class="fas fa-fw fa-check fa-5x"></i> Finished';
           $("#task-status-"+archive_id).html(content);
       }
   };

   // archive action
   $(".archive-action").on("click", function(event) {
       var archive_id = $(this).attr("archive");
       console.log("Archive id: " + archive_id)

       var message = {
           action: "run_archive",
           archive_id: archive_id
       };
       socket.send(JSON.stringify(message));
       $("#task_name").val('').focus();

       // update icon
       var content = '<i class="fas fa-fw fa-cog fa-5x fa-spin"></i> Executing Task';
       $("#task-status-"+archive_id).html(content);

       return false;
   });

});
</script>
