{% import 'combine/macros.html' as macros %}
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="fas fa-industry fa-fw"></i> Task
                </h2>
            </div>

            <div class="panel-body">
                {{ macros.archive_action(archive) }} {{ macros.archive_status(archive) }}
                {{ macros.archive_results(archive) }}

                <!-- task result -->
                {{ macros.task_result(task_result) }}


                <!-- traceback -->
                {% if task_result %}
                    {% if task_result.traceback %}
                        <pre>
                            <code>{{ task_result.traceback|safe }}</code>
                            </pre>
                    {% endif %}
                {% endif %}

                <!-- run archive action -->

                <hr />


            </div>
        </div>