.idea/
*.pyc
*.log
*.bak
*.sav
*~

teweb/static/
# teweb/combine/migrations/
teweb/combine/__pycache__/
teweb/combine.sqlite3
teweb/media/
teweb/teweb/__pycache__/

# deploy settings
teweb/teweb/deploy_settings.py

# latex files
docs/manuscript/main.aux
docs/manuscript/main.bbl
docs/manuscript/main.blg
docs/manuscript/main.log
docs/manuscript/main.synctex.gz