celery>=4.1.0
redis>=2.10.6
jobtastic>=1.0.0a2
django>=1.11.4
django-debug-toolbar>=1.8
jinja2>=
matplotlib>=

# tellurium>=2.0.0
-e git+https://github.com/sys-bio/tellurium.git@2.0-sedml-L1V3#egg=tellurium

