{% extends "combine/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-sign-in-alt fa-fw"></i> Login</h2>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        {# {% csrf_token %} #}

                        {{ form.as_p()}}
                        <button name="submit_button" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}