<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Include</title>
    </head>
    <body>
        <div id="include"><iframe name="IFrameName" scrolling="yes"></iframe></div>
        <a id="link" href="#">Click Test Link</a>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript">
            $("#link").click(function(){
                $("#include").load("https://www.google.de");
                frames['IFrameName'].location.href="https://www.test.de"
            });
        </script>
    </body>
</html>
